
@{
    ViewData["Title"] = "Features";
}

<div class="row">
          <div class="col-md-4">
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src=~/Image/f-1.png >
  <div class="card-body">
    <h5 class="card-title">Student Information</h5>
    <p class="card-text">Get easy access to student particulars, their grades, their schedules, address, records etc.</p>
  </div>
</div>
</div>

<div class="col-md-4">
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src=~/Image/\f-2.png>
  <div class="card-body">
    <h5 class="card-title">Teacher Information</h5>
    <p class="card-text">Track youyr teachers particulars, residentials addresses and other datas.</p>
  </div>
</div>
</div>
<div class="col-md-4">
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src=~/Image/f-4.png>
  <div class="card-body">
    <h5 class="card-title">Attendance</h5>
    <p class="card-text">Track your daily attendance.</p>
  </div>
</div>
</div>
</div>