@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>

<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="~/Image/about.png" class="d-block w-100" alt="...">
    </div>
  </div>
</div> <br>
<div class="container">
  <!-- Content here -->
  <p>An online attendance system work helps in increasing the productivity of a company. Using an online attendance system can be advantageous for us in numerous ways. Since working on these online attendance devices is effective and efficient too. Nowadays we can easily manage the attendance of individuals either using attendance apps or attendance systems. The cost of the attendance system is quite high therefore not everyone can afford them. But it has numerous advantages too at the same time. Managing attendance of individuals online keeps the data updated and current attendance reports can be generated within no time.

</p>
</div>